* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.greeting {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-image: url(img/desktop-2530405_1920.jpg);    
    -webkit-background-size:cover;
    background-size: cover;
    background-position: center;
    padding: 100px;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items:center;
    align-items: center;
}

.greeting.active {
   -webkit-transform:translateX(-400px) ;
   -ms-transform: translateX(-400px);
   -o-transform: translateX(-400px);
   transform: translateX(-400px);
}

.overlay {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #111;
    opacity: .4;
}

header {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 100px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

header .logo {
    color: #fff;
    font-size:26px;
    font-weight: bold;
    text-decoration: none;
    font-style: italic;
}

header #toggle {
    position: relative;
    width: 50px;
    height: 20px;
    cursor: pointer;
}

header #toggle:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
}

header #toggle:after {
    content: '';
    position: absolute;
    top: 11px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
} 

.greeting.active header #toggle:before {
    border: none;
}

#navigation {
    position: fixed;
    right: -400px;
    top: 0;
    width: 400px;
    height: 100vh;
    background-color: rgb(135, 165, 80);
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items:center;
    align-items: center; 
}

#navigation.active {
    right: 0;
}

#navigation ul {
    margin: 0;
    padding: 0;
    width: 100%;
}

#navigation ul li {
    list-style-type: none;
}

#navigation ul li a {
    display: block;
    text-align: center;
    padding: 20px 0;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

#navigation ul li a:hover {
    background-color: #fff;
    color: rgb(15, 102, 30);
}

.home-content {
    position: relative;
    z-index: 1;
}

.home-content h1 {
    color:#fff;
    font-size: 42px;
    font-style: italic;
}

.home-content h1 span {
    color:rgb(26, 126, 44);
}

.logo span {
    color: rgb(18, 231, 53);
}

.home-content a {
    display: inline-block;
    border: 2px solid #fff;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 25px;
    padding: 15px 30px;
    border-radius: 5px;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    font-style: italic;
}

.home-content a:hover{
    background-color: #fff;
    color: #000;
}

.soc-icons {
    position: absolute;
    right: 100px;
    margin: 0;
    padding: 0;
}

.soc-icons li {
    list-style-type: none;
}

.soc-icons li a {
    display: inline-block;
    padding: 18px 0;
    font-size: 20px;
    color: #fff;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.soc-icons li a:hover {
    -webkit-transform: scale(1,4);
    -ms-transform: scale(1,4);
    -o-transform: scale(2,2);
    transform: scale(2,2);
}


.fa {
    text-align: center;
    width: 40px;
    height: 40px;
    border-color: #444;
    border: 2px solid #ccc;
    padding-top: 6px;
    border-radius: 22px;
    font-size: 1.33333333em;
  
}

.fa:hover {
    color:rgb(26, 126, 44);
    background-color: #fff;
    border-radius: 22px;
}

/*2 блок Обо мне*/

.my-info {
    display: flex;
    align-items: center;
}

.img-portfolio{
    display: block;
    border-radius: 50px;
    width: 30%;
    transition: transform .25s ease, box-shadow .25s ease, -webkit-transform .25s ease, -webkit-box-shadow .25s ease;
    transition-timing-function: cubic-bezier(.175, .885, .32, 1.275);
    transition-duration: 500ms;
    will-change: transform, box-shadow;
}

.img-portfolio:hover{
    transform: translateY(5px) translateZ(0);
    box-shadow: 0 16px 32px 0 rgba(62, 57, 107, .28), 0 0 0 transparent;
}

.about-info {
    padding: 50px;
    box-sizing: border-box;
    background-image: linear-gradient(rgb(223 242 233), rgb(232 238 207));
}

/*.box-about-back {
    position: absolute;
    z-index: -1;
    left: 0;
    top: -100px;
}*/

.about-me-title {
    color: rgb(15, 102, 30);
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
}

.border {
    width: 800px;
    border-bottom: 1px solid rgb(39 113 42);
    margin: 0 auto 40px;
    /* border-radius: 5px; */
    /* max-width: 90%; */
    box-sizing: border-box;
}

.about-me {
    min-width: 780px;
    padding: 56px 56px;
    box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    margin-left: 40px;
}

.about-me-text {
    color:rgb(87, 79, 79);
    font-size: 18px;
    font-weight: bold;
    text-align: justify;
    text-indent: 1.5em; 
    font-style: italic;
}

#about-me-text-blok {
    color: rgb(5, 65, 18);
    font-weight: bold;
    font-style: italic;
    line-height: 1.6;
    text-indent: 20px;
}

/*3 блок портфолио*/

.portfolio {
    background-image: linear-gradient(rgb(221 236 213), rgb(238 234 226));
    padding: 50px;
    box-sizing: border-box;
}

.portfolio-item-img {
    /*--margin-right: 2vw;
    margin-bottom: 2vw;*/
    transition: all 0.9s ease;
}

.certificates-item img {
    border-radius: 10px;
   
}

/*.portfolio-item1 {
    border-radius: 50px;
}*/

.portfolio-items {
    display: flex;
    margin-top: 50px;
    font-size: 0;
    justify-content: space-around;
    align-items: flex-end;
}

.portfolio-item-img img {
    border-radius: 10px;
}

.portfolio-item-img:hover{
    transform: scale(1.2);
}

/*4 блок Умение и навыки*/

.skills-education{
    background-image: url(img/nb3.jpg);
    background-repeat: no-repeat ;
    padding: 50px;
    box-sizing: border-box;
    background-size: cover;   
}

.education {
    display: flex;
}

.left-education {
   display: block;
   width: 50%; 
   box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
   padding: 56px;
   box-sizing: border-box;
}

.right-education {
    display: block;
    width: 50%; 
    box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
    padding: 56px; 
    box-sizing: border-box; 
}

.skill-title {
    display: block;
    color: rgb(25, 156, 91);
    margin-bottom: 10px;
    text-align: center; 
}

p.about-me-text a {
    text-decoration: none;
    color: rgb(14, 179, 22);
}

.link-site-learn:hover {
    color: rgb(25, 156, 91);
}

/*5 блок Сертификаты*/

.certificates {
    background-image: linear-gradient(rgb(230 230 220), rgb(184 234 184));
    padding: 50px;
    box-sizing: border-box;
}

.certificates_gb {
    margin: 0 auto 40px;
    margin-top: 30px;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.certificates_gb_item{
    background-color: #fbfaf8;
    position: relative;
    width: 350px;
    cursor: pointer;
}

.certificates_gb_item img {
    width: 100%;
    height: 100%;
}

/*.certificates_gb_item-imfo {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0,0,0, .2);
display: none;
}*/

/*.certificates_gb_item:hover .certificates_gb_item-imfo{
    display: block
  }*/
  

.certificates-text p {
    text-align: center;
}

.certificates_gb_item-text {
    position: absolute;
    bottom: -50px;
    width: 100%;
    height: 100%;
    background: #fbfaf8;
    opacity: 0;
    transition: bottom .2s, opacity .4s;
    border-radius: 4px;
    vertical-align: center;
}

.certificates_gb_item:hover .certificates_gb_item-text {
    background-color: #b4dbe2;
    opacity: .9;
    bottom: 0;
    transition: bottom .2s, opacity .4s;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

.certificates_gb_item-text span {
    display: block;
    font-size: 19px;
    color: rgb(31, 94, 38);
    font-weight: bold;
}

/*6 блок Контакты footer*/

.footer-blok {
    background-image: linear-gradient(rgb(166 220 168), rgb(144, 153, 66));
    text-align: center;  
    padding: 50px 50px 0 50px;
    box-sizing: border-box;
}

.soc-icons-footer li {
    list-style-type: none;
    display: inline-flex;
    margin-left: 15px;
}

.soc-icons-footer li a {
    display: inline-block;
    padding: 15px 0;
    font-size: 20px;
    color: #fff;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.soc-icons-footer li a:hover {
    -webkit-transform: scale(2,2);
    -ms-transform: scale(2,2);
    -o-transform: scale(2,2);
    transform: scale(2,2);
}

.footer-text {
    color: #fff;
    font-size: 20px;
    font-weight: bold; 
}

.footer-contacts {
    color: rgb(239, 241, 233);
    font-weight: bold;
    margin: 45px 0 45px 0;
    box-sizing: border-box;
}

.footer-contacts .contact-mail {
    margin: 0 0 10px 0;
}

.footer-contacts  .contact-mail, .contact-phone,
.contact-skype {
    color: rgb(34, 92, 28);
}

.footer-link {
   display: inline-block;
   color: #fff;
   margin-top: 25px;
   padding: 15px 30px;
   left: 800px;
   bottom: 30px;
   padding: 10px;
   position: relative; 
}








